body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary-color: #0e1630; /* Replace #FF0000 with your desired color value */
  --secondary-color: #01d293; /* Replace #FF0000 with your desired color value */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: white;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 14px;
}
body {
  background-color: var(--primary-color);
  color: white;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--secondary-color);
}
